<% if errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      The form contains <%= pluralize(@user.errors.count, "error") %>
    </div>
    <ul>
    <% errors.each do |error| %>
      <li id="errr"><%= error %></li>
    <% end %>
    </ul>
  </div>
<% end %>